.background{
    margin: 0vw;
    padding-top: 25vh;
    background-image: url("../../assets/account-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: 0em;
    height: fit-content;
}
.container{
    padding: 10vh 25vw;
}
.account-summary-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 45vw;
    background-color: white;
    background-origin: padding-box;
    
}

.entry{
    padding: 0vw;
    display: flex;
    flex-flow: row nowrap;
}
.entry>.key{
    margin: 0.5vh;
    padding: 2vh 2vw;
    width: 15vw;
    background-color: rgb(51, 26, 75);
    color: whitesmoke;
    font-size: large;
}
.entry>.value{
    margin: 0.5vh;
    padding: 2vh 2vw;
    padding-left: 2vw;
    background-color: rgb(51, 26, 75);
    width: 25vw;
    color: whitesmoke;
    font-size: large;
}

.header{
    padding: 0vw;
    margin-left: 1vw;
    display: flex;
    flex-flow: row nowrap;
}

.header>p{
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top:1vh;
    padding-bottom:1vh;
    width:7vw;
    background-color: rgb(51, 26, 75);
    margin: 0vw;
    margin-bottom: 1vh;
    color: whitesmoke;
    font-size: medium;
}
.header>.date{
    width:6vw;
    margin: 0vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
}

.header>.time{
    width:6vw;
    margin: 0vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
}

.header>.amount{
    width: 4vw;
    margin: 0vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
}
.header>.type{
    width:3.3vw;
    margin: 0vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
}
.header>.tofrom{
    width: 8vw;
    margin: 0vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
}

.transaction{
    padding: 0vw;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1vw;
}

.transaction>p{
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top:1vh;
    padding-bottom:1vh;
    background-color: rgba(51, 26, 75, 0.719);
    margin: 0vw;
    width: 5.8vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
    color: whitesmoke;
    font-size: medium;
}

.transaction>.date_value{
    width: 6vw;
}

.transaction>.amount_value{
    width: 4vw;
}
.transaction>.time_value{
    width: 6vw;
}
.transaction>.type_value{
    width: 3.3vw;
}

.transaction>.tofrom_value{
    width: 8vw;
}

.mat-expansion-panel{
    margin-top: 2vh;
}