<div class="hero-image">
        <div class="hero-content">
            <h1>
                Special FD schemes for Senior Citizens
            </h1>
            <button>
              Know More
            </button>
        </div>
</div>

<div class="account">
    <div class="card">
    <img src="/assets/passbook.jpg">
        <button>Passbook</button>     
    </div>  
    <div class="card">
    <img src="/assets/transactions.jpg">
    <button>Last 5 Transactions</button>         
    </div>
    <div class="card">
    <img src="/assets/savingBank.jpeg">
    <button>Saving Plans</button> 
    </div>
</div>
    
