<div class="latest-statistics">
        <!-- <span id="text" style="color:cornsilk;padding:10 0 10 5">Latest Statistics</span> -->
        <marquee direction="left">
            <a class="statistics">
                Due to the current pandemic, we are operating with 50% staff at our local branches. If possible, kindly use our online and mobile banking facilities.
            </a>
            
        </marquee>
    </div>

<div class="hero-image">
        <div class="hero-content">
            <h1>
                Buying a House is no longer a Dream
            </h1>
            <button>
              Apply for Home Loan
            </button>
        </div>
    </div>
    <div class="sub-hero">
        <div class="card">
                <img height="150px" width="170px" src="/assets/card.png">
                <button>Apply for Credit/Debit Cards</button>
        </div>
        <div class="mobile">
                <img height="130px" width="150px" src="/assets/mobile.png">
                <button>Mobile Banking with Natwest</button>
        </div>
        <div class="student">
                <img height="130px" width="150px" src="/assets/student.jpg">
                <button>Instant Approval of Loans</button>
        </div>
        <div class="covid">
                <img height="120px" width="130px" src="/assets/covid.png">
                <button>COVID-19 Support</button>
        </div>
        <div class="faq">
                <img height="130px" width="150px" src="/assets/query.png">
                <button (click)="faq()">Frequently Asked Questions</button>
        </div>
        </div>
        <div class="chatting">
                <img (click)="chat()" src="/assets/chat.png">
        </div>
        <div class="articles">
        <img src="/assets/save.png">
        <div class="articles-content">
         <h1>It's never too late to start saving</h1>
        <p>Whether it's to give you breathing space or for a family holiday next year, getting into the habit of saving is a great way to help you manage your finances.
        <br>Compare different savings accounts in the table below; from All Savings to Instant Access, Fixed Rate, ISAs or Children's savings accounts.</p>
        <button>Open a Savings Builder</button>
        </div>
        </div>
        <div class="articles">
        <div class="articles-content">
        <h1>Thinking abour Retirement ?</h1>
        <p>From workplace pensions to personal plans and state pensions, with so many options to consider it's no wonder many of us don't like thinking about how we'll pay for our retirement. 
        We want to remove the confusion and help make sure you know the differences between your options.</p>
        <button>View Pension Accounts</button>
        </div>
        <img src="/assets/pension.png">
        </div>
        <div class="articles">
        <img src="/assets/insurance.png">
        <div class="articles-content">
        <h1>Cover the things that matter</h1>
        <p>Its important to secure things that matter to you. Unseen circumstances can come at any time, be prepared. <br> Opt from various insurance options
        provided by Natwest - Home Insurance, Family Insurance, Medical Insurance, Car Insurance, and Travel Insurance. </p>
        <button>View Insurance Options</button>
        </div>
        </div>
    <div class="donate">
<div class="donate-content">
        <h1>
        It's a Tough Time for all of Us.<br>
        But for some, it's Tougher..
        </h1>
        <button>
        Donate Now to the Natwest Care Fund
        </button>
</div>


    </div>
